<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Volunteers</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap" rel="stylesheet">
    <style>
        body{
            background-color: #c6ffc1;
            color: black ;
        }
        h1{
            text-align: center;
            font-family: 'Indie Flower', cursive;
        }
        #table{
            width: 100%;
            border-collapse: collapse;
          
            margin: 4px;
        }
        td, th{
            border: 2px solid #064420;
            flex: auto;
            text-align: center;
            font-family: 'Patrick Hand', cursive;
        }
    </style>
</head>
<body>
    <h1 >List of volunteers</h1>
    <table id="table">
        <tr>
            <th>Service Address</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Resident of</th>
            <th>Age</th>
            <th>Started volunteering at</th>
        </tr>

    <%volunteers.forEach(volunteer=>{%>
        <tr>
        <td><%=volunteer.serviceAddress%></td>
        <td><%=volunteer.name%></td>
        <td><a href="tel:<%=volunteer.phone%>"><%=volunteer.phone%></a> <%=volunteer.whatsapp%> <a href="mailto:<%=volunteer.email%>"><%=volunteer.email%></a></td>
        <td><%=volunteer.state%> =>  <%=volunteer.address%></td>
        <td><%=volunteer.age%></td>
        <td><%=volunteer.updatedAt%></td>
        </tr>
    <%})%>
</table>
<cite id="warning">*Don't contact anybody unneccesarily.<br> Let's make a good use of this site.</cite>
    </body>
</html>